<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css">
    <title>PHH アクセスカウンター</title>
  </head>
  <body>

    <h1>PHH アクセスカウンター</h1>

    <p>これまで、<b id="domain"><%= Object.keys(domains).length %></b>個のドメイン、<b id="browser"><%= Object.keys(userAgents).length %></b>種類のブラウザ、<b id="os"><%= Object.keys(oss).length %></b>種類の OS のアクセスがありました。</p>
  </body>
</html>
